.title {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.details {
    text-align: justify;
    padding: 0 1rem;
    margin: 1rem;
}

@media screen and (min-width: 992px) {
    .title, .details {
        width: 70%;
        margin: 1rem auto;
    }
}