.navbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
/*     width: 100%; */
    font-size: 14px;
    gap: 1%;
}

.active-page {
  transform: scale(1.3);
  font-weight: 600;
}

.burger-menu {
    display: flex;
    position: relative;
   
    /* height: 3rem; */
  }
  
  .burger-menu__toggle {
    background-color: #f9f7f3; 
    border: none;
    color: #15616d;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 0 0 auto;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .burger-menu__links {
    background-color: #15616d;
    color: #f9f7f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    border-radius: 1rem;
    width: 240px;
  }

  .burger-menu__links a {
    padding: 0.5rem 2%;
    margin-left: 3%;
    text-align: center;
    color: #f9f7f3;
  }

  @media screen and (min-width: 768px) {
    .burger-menu__links {
      width: 600px;
    }
  }

  @media screen and (min-width: 992px) {
    .burger-menu__links {
      width: 850px;
    }
  }

  @media screen and (min-width: 1200px) {
    .burger-menu__links {
      width: 1050px;
    }
  }