.scrollToTopButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #15616d;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scrollToTopButton.visible {
    opacity: 1;
  }
  